<footer class="footer py-3 mt-auto">
  <div class="container d-flex justify-content-center align-items-center">
    <p class="text-center text-drak fw-lighter">&copy; Shopping-Cart 2022</p>
  </div>
</footer>
